.idea
*__pycache__*
*.db
*.db.bak
*.pyc
temp.py
data/log.log
data/tasks.*
data/fat.*
data/games.*
data/jedzonko.db
data/periodic_tasks.xml
data/passwords.pickle
data/shared_preferences.pickle
data/plans.pickle
data/notes.*
data/events.xml
data/meal_recipes_backup/
scripts/meal_data.txt
tests/test_tasks.xml
venv/

