.idea
*__pycache__*
*.db
*.db.bak
*.pyc
temp.py
data/log.log
data/tasks.*
data/fat.*
data/games.*
data/periodic_tasks.xml
data/shared_preferences.pickle
data/notes.*
data/events.xml
data/meal_recipes_backup/
tests/test_tasks.xml
venv/

!data/jedzonko.db
